.about-hero{
    padding: 60px 2.6041% 200px 2.6041%;
     height: calc(100vh - 152.261px); 
}
.hero2{
    margin-top: 170px;
    border: 2px solid var(--Gray15);
    box-shadow: 8px 8px 0px 1px rgba(30, 30, 30, 1);
    background-color: var(--White);
    padding: 150px 120px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap:50px;
    
}
.about-title{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: start;
    height: 185px;
    
}
 .hero2 .content{
    width: 64.5%;
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    
}.hero2 h2{
    text-align: start;

}
.font-title{
    font-size: 48px;
}
.pattern-container{
position: absolute;
top: 0;
left: 0;
padding: 10px;
}

@media(max-width:1440px){
    .about-hero{
        padding: 40px 5.5555% 150px 5.5555%;
         
    }
    .hero2{
        padding: 100px 80px;
        border-radius: 10px;
       
    }
    .font-title{
        font-size:38px;
    }
    .hero2 .content{
        font-size: 16px;
        width: 61%;
    }
    .pattern-container img{
        width: 137px;
    }
}
@media(max-width:992px){
    .about-hero{
        padding: 40px 4.1025% 80px 4.1025%;
         
    } 
    .hero2{
        flex-direction: column;
        justify-content: center;
        padding: 50px 30px;
        gap: 20px;
    }
    .font-title{
        font-size: 28px;
    }
    .about-title{
        align-items: center;
        justify-content: center;
        align-items: center;
    }
    .hero2 h2{
        text-align: center;
    }
    .hero2 .content{
        text-align: center;
        width: 100%;
    }
    .pattern-container img{
        width: 100px;
    }
}