.team-card{
    width: 48.75%;
     min-height:502px; 
    border: 2px solid var(--Gray15);
    border-radius: 12px;
    padding: 50px;
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:stretch;
    gap: 30px;
}
.picture-name{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
}
.picture-name img{
    width: 100px;
}
.picture-name p{
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: 800;
    line-height: 150%;
    
}
.email-container{
    border:2px solid var(--Gray15);
    width:56px;
    height:56px;
    border-radius: 8px;
    background-color: var(--LightOrange);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.top-container{
    display: flex;
    justify-content:space-between;
    align-items:center;
    gap: 20px;
}
.qualificate-container{
    width: 100%;
   
    border:2px solid var(--Gray15);
    border-radius: 12px;
    background-color: var(--Orange97);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:stretch;
    padding: 30px;
    gap: 20px;
}
.qualificate{
    font-family: "Outfit", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
}
.qualificate-container p{
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
  
}
@media(max-width:1440px){
    .team-card{
        padding: 40px;
        gap: 24px;
        min-height: 404px;
        border-radius: 10px;
    }
    .picture-name{
        gap: 12px;
    }
    .picture-name img{
        width: 80px;
    }
    .picture-name p{
        font-size: 24px;
    }
    .email-container{
        width: 48px;
        height: 48px;
        font-size: 20px;
    }
    .top-container{
        gap:16px;
    }
    .qualificate-container{
        padding: 24px;
        gap: 16px;
       
    }
    .qualificate{
        font-size: 20px;
    }
    .qualificate-container p{
        font-size: 16px;
    }
}
@media(max-width:992px){
    .team-card{
        padding:30px;
        min-height: 454px;
        width: 100%;
    }
    .picture-name{
        gap: 10px;
    }
    .picture-name img{
        width: 60px;
    }
    .picture-name p{
        font-size: 20px;
    }
    
    .top-container{
        gap:10px;
    }
    .qualificate-container{
        padding: 20px;
        gap: 12px;
       
    }

}