.Lq-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 19px;}
     
    .h2-title {
        text-align: center;
        font-family: "Raleway", sans-serif;
        font-size: 58px;
        font-weight: 700;
        line-height: 130%;
        color: var(--Gray10);
    }
    
    .exp-design {
        font-family: "Outfit", sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 150%;
        text-align: center;
        width: 63%;

    }

    @media(max-width:1440px) {
        .Lq-container {
            width: 100%;
            gap: 14px;}
                .h2-title {
                    font-size: 48px;
                }
                
                .exp-design {
                    font-size: 18px;
                    width: 73%;
                }
            }

        
    

    @media(max-width:992px) {
        .Lq-container {
            width: 100%;
            gap: 10px;
            }

            .h2-title {
                font-size: 38px;
            }
            .font-title{
                font-size: 28px;
            }
            .exp-design {
                width: 100%;
                text-align: center;
                font-size: 16px;
            }
        }
    
