.nav-border {
    outline: 2px solid var(--Gray15);
    border-radius: 12px;
    background-color: var(--White);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    }
    .logo-container {
        padding: 20px 24px;
        width: 230.69px;
        border-right: 2px solid var(--Gray15);
        background-color: var(--Orange65);
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .nav-item{
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: end;
        
        
    }
    .nav-item li{
                height: 80px;
                border: 0px;
                border-left: 2px solid var(--Gray15);
                background-color: transparent;
                display: flex;
                justify-content: center;
                align-items: center;

    }
        .nav-item li a , .nav-item2 li a{
            text-decoration: none;
            color: var(--Gray15);
            font-family: "Outfit", sans-serif;
            font-size: 20px;
           font-weight: 500;
           padding:25px 34px ; 
          text-align: center;
           height: 100%; 
        }
    .nav-item li:nth-child(6){
        background-color: var(--Orange65);   
    }
    .Active { 
        text-align: center;
        background-color: var(--LightOrange);
        
    }
   
    
    /* .btn-container{
        display: flex;
        justify-content: center;
        align-items: end;
    }
            .nav-btn {
                height: 80px;
                border: 0px;
                border-left: 2px solid var(--Gray15);
                background-color: transparent;
                padding:25px 34px;
        } */
 
button:nth-child(6){
    background-color: var(--Orange65);   
}
.burger-menu{
        padding: 16px 30px;
        border: none;
        border-left: 2px solid var(--Gray15);
        background-color: var(--Orange65);
        display: none;
        justify-content: center;
        align-items: center;

    }.nav-item2{
        border:2px solid var(--Gray15);
        width: 93vw;
        background-color: var(--LightOrange);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        position:absolute;
        right: 0px;
        top:80px;
        list-style-type: none;
        font-size: 20px;
        padding-bottom: 10px;
    }
   
    .close{
        display: none;
        font-family: "Outfit", sans-serif;
        font-size: 20px;
      font-weight: 500;
      padding: 10px 20px;
      background-color: var(--Orange65);
      border-radius: 8px;
      color: var(--Gray15);
    }
@media(max-width:1440px){
    .nav-item li a , .nav-item2 a{
        font-size: 16px;  
    }
}.logo-container{
    padding: 16px 20px;
    width: 195.29px;
    height:80px;
}

@media(max-width:992px){
    .logo-container{
        width: 177.02px;
    }
    .nav-item{
        display: none;
    }
    .burger-menu{
    display: flex;
    height: 80px;
    }
    .close{
        display: block;
    }
     .Active:hover{
        color: var(--Orange65);
        padding: 0px;
    }
}
