.Card{
    width: 31.6582%;
    min-height: 306px;
    padding: 80px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    outline: 2px solid var(--Gray15);
    border-radius: 12px;
    box-shadow: 6px 6px 0px 2px rgba(30, 30, 30, 1);
    background-color: var(--White);
    position: relative;
    .Lq-icon{
        width:74px;
        height: 74px;
        border: 2px solid var(--Gray15);
        border-radius: 12px;
        padding: 20px;
        background-color: var( --LightOrange);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 34px;
        position: absolute;
        left: 30px;
        top: -36px;
    }
    h4{
        font-family: "Raleway" , sans-serif;
        color: var(--Gray10);
        font-size: 28px;
        font-weight: 700;
        line-height: 130%;
        margin-bottom:20px ;
    }p{
       
        font-family: "Outfit", sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 150%;
        color: var(--Gray30);
    }

}
.card-height{
    min-height: 276px;
}

@media (max-width:1440px){
    .Card{
        min-height: 243px;
        padding: 60px 40px 40px 40px;
        .Lq-icon{
            width: 74px;
            height: 74px;
        }h4{
            font-size: 24px;
            margin-bottom: 16px;
        }p{
            font-size: 16px;
        }
    }.card-height{
        min-height: 219px;
    }
}
@media(max-width:992px){
    .Card{
        min-height: 221px;
        padding: 50px 40px 30px 30px;
        width: 100%;
        .Lq-icon{
            width: 74px;
            height: 74px;
        }h4{
            font-size: 22px;
            margin-bottom: 16px;
        }p{
            font-size: 16px;
        }
    }.card-height{
        min-height: 197px;
    }
}

