.slider-container{
    position: relative;
    .prev-btn,.next-btn{
        width: 58px;
        height: 58px;
        padding: 13px;
        font-size: 30px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--Gray20);
        border-radius: 8px;
        background-color: var(--White);
    }
      .prev-btn2{  
        top: 48%;
        left:0px;

    }.next-btn2{
        top: 48%;
        right:0px;
    }  
    .prev-btn1{
        bottom: -23%;
        left:91%;
    }
    .next-btn1{
        bottom: -23%;
        right:-15px;
    }
    
    .slider-body{
        max-width: fit-content;
        display: flex;
        justify-content:center;
        align-items: stretch;
        gap:50px;
       
    }
   
@media(max-width:1440px){
        .prev-btn,.next-btn{
            width: 48px;
            height: 48px;
            font-size: 24px;
            padding: 12px;
        }
        .prev-btn2{
            left: -2%;
        }.next-btn2{
            right: -2%;
        }

        .prev-btn1{
            left: 87%;
        }
        .slider-body{
            gap: 40px;
        }
        
    
}
@media(max-width:992px){
        .slider-body{
            flex-wrap: wrap;
        }
    .prev-btn2{
            top: 100%;
            left: 30%;
        }.next-btn2{
            top:100%;
            right: 30%;
        }
        .prev-btn1,.next-btn1{
           bottom: -27%;
        }
       .prev-btn1{
        left: 74%;
       }
    
}
}